@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "mixins";
@import "variables";
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 1.5;
}
h1{
    font-size: 64px;
    font-weight: 600;
}
.white-head{
    padding-top: 80px;
    padding-bottom: 34px;
    font-weight: 500;
}
a{
    padding: 8px;
    font-weight:600;
    font-size: larger;
    color: $txt-clr;
    text-decoration: none;
}
a:hover{
    background-color: $l8-gray;
    color: black;
    text-decoration: none;
}
.nav-bar{
   @include navbar;
}
.content{
//    position: absolute;
//    left: 350px;
//    top: 100px;
//    right: 60px;
padding-left: 130px;
padding-top: 100px;
padding-right: 50px;
}
.img-grid img{
 max-width: 100%;
 max-height: fit-content;
}
.heading{
    @include heading;
}
h2::after{
   content: '';
   @include line;
}
ul li{
 @include li;
}
.li-head{
    @include li-head;
}
.red{
    background-color: $red;
}
input[type="text"]{
    @include form-field;
    border: 1px  solid $gray;
}
input[type= "submit"]{
    border: none;
    @include form-field;
    color: $txt-clr;
}
input[type= "submit"]:hover{
    background-color: $gray;
}

